.float {
  float: right;
  width: 85%;
  display: inline-block;
}

.panel-title {
  font-weight: bold;
  border-color: black
  background-color: #cff1e0;
  color: black;
  font-family: sans-serif;
}

.panel {
  border-radius: 0px;
}

.panel-lightgreen{
  background-color:#F1F6EF;
  padding: 5px;
  border-color: #cff1e01;
}

.panel-lightblue{
  background-color:#f5faff;
  padding: 5px;
}

.sidebar {
  float: left;

  display: inline-block;
  min-height: 100%;
  position: relative;
}

.welcome {
  padding-left: 30px;
}

.sidebar img {
  width: 100%;
  padding-bottom: 30px;
}

.sidebar p {
  line-height: 14px;
  font-size: 12px;
}

.row {
  height: 100px;
}

.navrow {
  height: 50px;
  padding-left: 30px;
}

.container {
  width: 100%;
}

.title {
  float: right;
  width: 85%;
  display: inline-block;
  padding-top: 20px;
}

.purple {
  background-color: #DACAEB;
}

.lightpurple {
  background-color: #F5EFF6;
}

.aligncenter {
  text-align: center;
}

.centerimg {
  display: block;
  width:400px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.moveright {
  float:right;
}

.floatleft {
  float: left;
  width: 160px;

}

.floatright {
  float: right;
  padding-left: 10px;
  padding-bottom: 20px;
  text-align: left;
}

.floatright img {
  width: 100px;
}

.alignright {
  text-align: right;
}

.caption {
  float: right;
}

.bg-success {
  background-color: #f5fffa;
}

.bg-success2 {
  background-color: #f5faff;
}

.lightblue {
  background-color: #EFF6F6;
}

.tiny {
  font-size: 10px;
  text-align: right;
}
